<div class="dashboard" >
    <div class="dashboard__body"  >
       <app-sidebar></app-sidebar>
        <div class="dashboard_main_container" #scrollableDashboard scrollable (scrollPosition)="onScroll($event)">
            <app-header></app-header>
            <app-home *ngIf="currentScreen === 'Home'"></app-home>
            <app-search *ngIf="currentScreen === 'Search'"></app-search>
            <app-playlist *ngIf="currentScreen === 'Playlist'"></app-playlist>
            <app-artist-details *ngIf="currentScreen === 'ArtistDetails'"></app-artist-details>
            <app-album-details *ngIf="currentScreen === 'AlbumDetails'"></app-album-details>
            <app-view-all *ngIf="currentScreen === 'ViewAll'"></app-view-all>
        </div>
    </div>
    <app-footer></app-footer>
</div>